.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 85px;
    border-bottom: 1px solid #718EBF5C;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #Fff;
}

.headerLogo {
    display: flex;
    align-items: center;
    gap: 60px;

    h2 {
        font-size: 20px;
    }
}

.headerNav {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .addIcon {
        width: 12px;
        height: 12px;
    }
}

.switchLang {
    button {
        background-color: #F5F7FA;
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
    }
}

.iconTextHolder {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    img {
        margin: 0 5px;
    }
}

.iconTextHolder:hover {
    color: black;

}

.ant-dropdown-menu {
    border-radius: 20px;
}