<div class="headerContainer">
  <div class="headerLogo">
    <img src="assets/img/logo.png" alt="Logo" />
    <h2>{{"MasterDataManagementHub"|translate}}</h2>
  </div>

  <div class="headerNav">




    <a *ngIf="user == '1'" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="actionHolderBtn">
      <button class="Primary_fill">
        <img src="assets/img/add.svg" alt="addIcon" class="addIcon">
        &nbsp;
        <span class="menuText">{{ "NewRequest" | translate }}</span>
      </button> <span nz-icon nzType="down"></span>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <a class="iconTextHolder" [routerLink]="'/dashboard/new-request'">
            <img src="./assets/img/profile-add.svg" alt=""> {{ "New Customer Request" | translate }}
          </a>
        </li>
      </ul>
    </nz-dropdown-menu>

    <div class="switchLang">
      <button class="" *ngIf="lang== 'ar'" (click)="switchLang('en')">En</button>
      <button class="" *ngIf="lang== 'en'" (click)="switchLang('ar')">Ar</button>
    </div>
    <img src="assets/img/search.png" alt="searchIicon" class="searchIicon">
    
    <!-- Notification Icon with Badge -->
    <div class="notification-wrapper" nz-dropdown nzTrigger="click" [nzDropdownMenu]="notificationMenu">
      <div class="notification-icon-container">
        <img src="assets/img/notification.png" alt="notificationIcon" class="notificationIcon">
        <span *ngIf="unreadCount > 0" class="notification-badge">{{ unreadCount > 99 ? '99+' : unreadCount }}</span>
      </div>
    </div>
    <nz-dropdown-menu #notificationMenu="nzDropdownMenu">
      <app-notification-dropdown></app-notification-dropdown>
    </nz-dropdown-menu>
    
    <img src="assets/img/user.png" alt="userIcon" class="userIcon" nz-dropdown nzTrigger="click"
      [nzDropdownMenu]="menu1">
    <nz-dropdown-menu #menu1="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <a class="profileText" [routerLink]="'/dashboard/profile'">
            <i nz-icon nzType="user" nzTheme="outline"></i> Profile
          </a>
        </li>
        <li nz-menu-item>
          <a class="signoutText" [routerLink]="'/'">
            <img src="./assets/img/logout.svg" alt="">{{ "Logout" | translate }}
          </a>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>

</div>