<div class="titleActionHolder">

  <h1 class="pageTitle">
    {{ "MyRequests" | translate }}
  </h1>
  <div class="actionHolderTitleTabs">
    <div *ngIf="mixedStatuses()" (click)=" deleteRows() ">
      <button class="deleteBtn actionBtn"><img src="./assets/img/redTrash.svg" alt="">{{ "Delete" | translate
        }}</button>
    </div>
    <div class="seachInputHolder">
      <img src="./assets/img/search.svg" alt="">
      <input type="text" [placeholder]="'Search' | translate">
    </div>
    <img src="./assets/img/filter.svg" alt="">
  </div>
</div>
<div>
  <nz-tabset [nzSelectedIndex]="selectedIndex" (nzSelectedIndexChange)="onTabChange($event)">
    <nz-tab nzTitle="{{'All'|translate}}"></nz-tab>
    <nz-tab nzTitle="{{ 'CustomerRequests' | translate }}"></nz-tab>
    <nz-tab nzTitle="{{ 'ProductRequests' | translate }}"></nz-tab>
    <nz-tab nzTitle="{{ 'SupplierRequests' | translate }}"></nz-tab>
  </nz-tabset>
  <div *ngIf="selectedIndex ==0">
      <nz-table #basicTable [nzPageSize]="7" [nzData]="AllRequests">
    <thead>
      <tr>
        <th [(nzChecked)]="checkedStates['all']"
            [nzIndeterminate]="indeterminateStates['all']"
            (nzCheckedChange)="onAllChecked($event)">

        <th>{{ "RequestID" | translate }}</th>
        <th>{{ "Name" | translate }}</th>
        <th>{{ "Record Identifier" | translate }}</th>
        <th>{{ "Status" | translate }}</th>
        <th>{{ "Action" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td [nzChecked]="setOfCheckedIds['all'].has(data.id)"
            (nzCheckedChange)="onItemChecked(data.id, data.status, $event)">
        </td>
        <td>{{ data.requestId }}</td>
        <td>{{ data.name }}</td>

        <td>{{ data.RecordIdentifier }}</td>
        <td>
          <p class="generalStatus" [ngClass]="{
              'status-approved': data.status === 'Approved',
              'status-pending': data.status === 'Pending',
              'status-rejected': data.status === 'Rejected',
              'status-quarantined': data.status === 'Quarantined'
            }">
            {{ data.status | translate }}
          </p>
        </td>
        <td>

          <div class="actionHolder">
            <img src="./assets/img/edit.svg" alt="">
            <img class="iconSpacing" src="./assets/img/trash.svg" (click)="deleteRecod(i)" alt="">
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="actionHolderBtn">
              <img src="./assets/img/moreAction.svg" alt="" />
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>


                <li nz-menu-item *ngIf="data.status != 'Rejected'">
                  <a class="menucolor" (click)="viewOrEditRequest(data.id, data.status, false)">
                    {{ "ViewDetails" | translate }}
                  </a>
                </li>
                <li nz-menu-item *ngIf="data.status === 'Rejected'">
                  <a class="menucolor" (click)="viewOrEditRequest(data.id,data.status, true)">
                    {{ "FixIssue" | translate }}
                  </a>
                </li>
              </ul>
            </nz-dropdown-menu>

          </div>



        </td>
      </tr>
    </tbody>
  </nz-table>
  </div>
  <div *ngIf="selectedIndex ==1">
      <nz-table #basicTable [nzPageSize]="7" [nzData]="CustomerRequests">
    <thead>
      <tr>
        <th [(nzChecked)]="checkedStates['customer']"
            [nzIndeterminate]="indeterminateStates['customer']"
            (nzCheckedChange)="onAllChecked($event)">

        <th>{{ "RequestID" | translate }}</th>
        <th>{{ "CustomerName" | translate }}</th>
        <th>{{ "Record Identifier" | translate }}</th>
        <th>{{ "Status" | translate }}</th>
        <th>{{ "Action" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td [nzChecked]="setOfCheckedIds['customer'].has(data.id)"
            (nzCheckedChange)="onItemChecked(data.id, data.status, $event)">
        </td>
        <td>{{ data.requestId }}</td>
        <td>{{ data.name }}</td>

        <td>{{ data.RecordIdentifier }}</td>
        <td>
          <p class="generalStatus" [ngClass]="{
              'status-approved': data.status === 'Approved',
              'status-pending': data.status === 'Pending',
              'status-rejected': data.status === 'Rejected',
              'status-quarantined': data.status === 'Quarantined'
            }">
            {{ data.status | translate }}
          </p>
        </td>
        <td>

          <div class="actionHolder">
            <img src="./assets/img/edit.svg" alt="">
            <img class="iconSpacing" src="./assets/img/trash.svg" (click)="deleteRecod(i)" alt="">
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="actionHolderBtn">
              <img src="./assets/img/moreAction.svg" alt="" />
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>


                <li nz-menu-item *ngIf="data.status != 'Rejected'">
                  <a class="menucolor" (click)="viewOrEditRequest(data.id, data.status, false)">
                    {{ "ViewDetails" | translate }}
                  </a>
                </li>
                <li nz-menu-item *ngIf="data.status === 'Rejected'">
                  <a class="menucolor" (click)="viewOrEditRequest(data.id,data.status, true)">
                    {{ "FixIssue" | translate }}
                  </a>
                </li>
              </ul>
            </nz-dropdown-menu>

          </div>



        </td>
      </tr>
    </tbody>
  </nz-table>
  </div>
  <div *ngIf="selectedIndex ==2">
      <nz-table #basicTable [nzPageSize]="7" [nzData]="ProductRequests">
    <thead>
      <tr>
        <th [(nzChecked)]="checkedStates['product']"
            [nzIndeterminate]="indeterminateStates['product']"
            (nzCheckedChange)="onAllChecked($event)">

        <th>{{ "RequestID" | translate }}</th>
        <th>{{ "ProductName" | translate }}</th>
        <th>{{ "Record Identifier" | translate }}</th>
        <th>{{ "Status" | translate }}</th>
        <th>{{ "Action" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td [nzChecked]="setOfCheckedIds['product'].has(data.id)"
            (nzCheckedChange)="onItemChecked(data.id, data.status, $event)">
        </td>
        <td>{{ data.requestId }}</td>
        <td>{{ data.name }}</td>

        <td>{{ data.RecordIdentifier }}</td>
        <td>
          <p class="generalStatus" [ngClass]="{
              'status-approved': data.status === 'Approved',
              'status-pending': data.status === 'Pending',
              'status-rejected': data.status === 'Rejected',
              'status-quarantined': data.status === 'Quarantined'
            }">
            {{ data.status | translate }}
          </p>
        </td>
        <td>

          <div class="actionHolder">
            <img src="./assets/img/edit.svg" alt="">
            <img class="iconSpacing" src="./assets/img/trash.svg" (click)="deleteRecod(i)" alt="">
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="actionHolderBtn">
              <img src="./assets/img/moreAction.svg" alt="" />
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>


                <li nz-menu-item *ngIf="data.status != 'Rejected'">
                  <a class="menucolor" (click)="viewOrEditRequest(data.id, data.status, false)">
                    {{ "ViewDetails" | translate }}
                  </a>
                </li>
                <li nz-menu-item *ngIf="data.status === 'Rejected'">
                  <a class="menucolor" (click)="viewOrEditRequest(data.id,data.status, true)">
                    {{ "FixIssue" | translate }}
                  </a>
                </li>
              </ul>
            </nz-dropdown-menu>

          </div>



        </td>
      </tr>
    </tbody>
  </nz-table>
  </div>
  <div *ngIf="selectedIndex ==3">
      <nz-table #basicTable [nzPageSize]="7" [nzData]="SupplierRequests">
    <thead>
      <tr>
        <th [(nzChecked)]="checkedStates['supplier']"
            [nzIndeterminate]="indeterminateStates['supplier']"
            (nzCheckedChange)="onAllChecked($event)">

        <th>{{ "RequestID" | translate }}</th>
        <th>{{ "SupplierName" | translate }}</th>
        <th>{{ "Record Identifier" | translate }}</th>
        <th>{{ "Status" | translate }}</th>
        <th>{{ "Action" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td [nzChecked]="setOfCheckedIds['supplier'].has(data.id)"
            (nzCheckedChange)="onItemChecked(data.id, data.status, $event)">
        </td>
        <td>{{ data.requestId }}</td>
        <td>{{ data.name }}</td>

        <td>{{ data.RecordIdentifier }}</td>
        <td>
          <p class="generalStatus" [ngClass]="{
              'status-approved': data.status === 'Approved',
              'status-pending': data.status === 'Pending',
              'status-rejected': data.status === 'Rejected',
              'status-quarantined': data.status === 'Quarantined'
            }">
            {{ data.status | translate }}
          </p>
        </td>
        <td>

          <div class="actionHolder">
            <img src="./assets/img/edit.svg" alt="">
            <img class="iconSpacing" src="./assets/img/trash.svg" (click)="deleteRecod(i)" alt="">
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="actionHolderBtn">
              <img src="./assets/img/moreAction.svg" alt="" />
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>


                <li nz-menu-item *ngIf="data.status != 'Rejected'">
                  <a class="menucolor" (click)="viewOrEditRequest(data.id, data.status, false)">
                    {{ "ViewDetails" | translate }}
                  </a>
                </li>
                <li nz-menu-item *ngIf="data.status === 'Rejected'">
                  <a class="menucolor" (click)="viewOrEditRequest(data.id,data.status, true)">
                    {{ "FixIssue" | translate }}
                  </a>
                </li>
              </ul>
            </nz-dropdown-menu>

          </div>



        </td>
      </tr>
    </tbody>
  </nz-table>
  </div>

</div>