<h1 class="pageTitle">
  {{ "MyRequests" | translate }}
</h1>
<div>
  <nz-tabset>
    <nz-tab nzTitle="{{ 'CustomerRequests' | translate }}"></nz-tab>
    <nz-tab nzTitle="{{ 'ProductRequests' | translate }}"></nz-tab>
    <nz-tab nzTitle="{{ 'SupplierRequets' | translate }}"></nz-tab>
  </nz-tabset>
  <nz-table #basicTable [nzPageSize]="7" [nzData]="myRequests">
    <thead>
      <tr>
        <th>{{ "RequestID" | translate }}</th>
        <th>{{ "CustomerName" | translate }}</th>
        <th>{{ "Date" | translate }}</th>
        <th>{{ "Status" | translate }}</th>
        <th>{{ "Action" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td>{{ data.requestId }}</td>
        <td>{{ data.customerName }}</td>
        
        <td>{{ data.date }}</td>
        <td>
          <p class="generalStatus"
            [ngClass]="{
              'status-approved': data.status === 'Approved',
              'status-pending': data.status === 'Pending',
              'status-rejected': data.status === 'Rejected',
              'status-quarantined': data.status === 'Quarantined'
            }"
          >
            {{ data.status | translate }}
          </p>
        </td>
        <td>
          <a  class="primaryColor" *ngIf="data.status != 'Rejected'" (click)="viewOrEditRequest(data.id, data.status, false)">
            {{ "ViewDetails" | translate }}
          </a>
          <a  class="primaryColor" *ngIf="data.status === 'Rejected'" (click)="viewOrEditRequest(data.id,data.status, true)">
            {{ "FixIssue" | translate }}
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
