.status-approved {
    color: #16DBCC;
    background-color: #41D4A81A;
}

.status-rejected {
    color: #EF4444;
    background-color: #EF44441A;

}

.status-pending {
    color: #6B5CA5;
    background-color: #6B5CA51A;


}

.status-quarantined {
    color: #FFBB38;
    background-color: #FFBB381A;
}

.generalStatus {
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionHolderTitleTabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -70px;
    z-index: 99;
}

.titleActionHolder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seachInputHolder {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 215px;
    height: 48px;
    border-radius: 100px;
    margin: 0 12px;
    padding: 12px 18px;
}

.actionBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    margin-left: 10px;
    color: white;
    border-radius: 90px;
    border: none;

    body.rtl & {
        margin-left: 10px;
        margin-right: 5px;
    }

    img {
        margin-right: 5px;

        body.rtl & {
            margin-left: 5px;
            margin-right: 0px;
        }
    }
}

.deleteBtn {
    background-color: #EF4444;

}

.dFelx {
    display: flex;
}

.actionHolder {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
        cursor: pointer;
    }

}
.iconSpacing {
    margin: 0 10px;
}
.actionHolderBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}




.table-cell-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}