<h1 class="pageTitle">
    {{ "QuarantinedRequests" | translate }}
</h1>
<div>
    <nz-tabset>
      <nz-tab nzTitle="{{'CustomerRequests'|translate}}"></nz-tab>
      <nz-tab nzTitle="{{'ProductRequests'|translate}}"></nz-tab>
      <nz-tab nzTitle="{{'SupplierRequets'|translate}}"></nz-tab>
    </nz-tabset>
    <nz-table #basicTable [nzPageSize]="7" >
      <thead>
        <tr>
          <th>{{"RequestID"|translate}}</th>
          <th>{{"CustomerName"|translate}}</th>
          <th>{{"Date"|translate}}</th>
          <th>{{"Action"|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of quarantinedRequests; let i = index">
          <td>{{ data.requestId }}</td>
          <td>{{ data.customerName }}</td>
          <td>{{ data.date }}</td>
          <td>
            <!-- <a>{{data.id}}</a> -->
           
            <a (click)="deleteRecodr(i)" class="deleteColor">Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
</div>