<h1 class="pageTitle backTitle">
  <img
    (click)="goBack()"
    src="assets/img/leftArrow.svg"
    alt="Back"
    class="backImg"
  />
  {{ "Customer" | translate }}: CUST-001234
</h1>

<nz-table
  #rowSelectionTable
  nzShowSizeChanger
  [nzData]="listOfData"
  [nzShowPagination]="false"
>
  <thead>
    <tr>
      <th
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th>{{ "Field" | translate }}</th>
      <th>{{ "Name" | translate }}</th>
      <th>{{ "Email" | translate }}</th>
      <th>{{ "PhoneNumber" | translate }}</th>
      <th>{{ "Date" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i = index">
      <td
        [nzChecked]="setOfCheckedId.has(data.id)"
        (nzCheckedChange)="onItemChecked(data.id, $event)"
      ></td>
      <td>
        {{data.field}}
      </td>
      <td>{{ data.name }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.phone }}</td>
      <td>{{ data.date }}</td>
    </tr>
  </tbody>
</nz-table>
<div class="optionsHolder">
  

  <div class="btnContainer">
    <button
      class="SecondryBtn"
      [disabled]="setOfCheckedId.size < 1"
      (click)="ignoreRows()"
    >
      {{ "Ignore" | translate }}
    </button>
    <button
      class="Primary_fill"
      [disabled]="setOfCheckedId.size <= 1"
      (click)="merge()"
    >
      {{ "Merge" | translate }}
    </button>
  </div>
  <nz-select *ngIf="showSelect"
    [(ngModel)]="selectedValue"
    (ngModelChange)="selecteChange($event)"
    nzPlaceHolder="{{ 'Choose Record' | translate }}"

  >
    <nz-option
      *ngFor="let option of selectedOptions; let i = index"
      [nzValue]="option.id"
      [nzLabel]="option.field"
    >
    </nz-option>
  </nz-select>
</div>
