.dashboardContainer {
  display: flex;
  height: calc(100vh - 85px);
  overflow: hidden;
  width: 100%;
}
.dashboardNavigation {
  width: 26%;
  padding-top: 30px;
  overflow-y: scroll;
}
.dashboardContent {
  width: 74%;
   overflow-y: scroll;
  padding: 30px;
  background-color: #f5f7fa;
}
