<app-header></app-header>
<div class="dashboardContainer mainPageMargin">
  <div class="dashboardNavigation">
    <app-sidebar></app-sidebar>
  </div>
  <div class="dashboardContent">
    
    <div *ngIf="router.url == '/dashboard/quarantined-requests'">
        <app-quarantined-requests></app-quarantined-requests>
    </div>
    <div *ngIf="router.url == '/dashboard/golden-requests'">
      <app-golden-requests></app-golden-requests>
    </div>
    <div *ngIf="router.url == '/dashboard/new-request'">
      <app-new-request></app-new-request>
    </div>
  </div>
</div>
