<div class="upperSection">
    <div class="chartHolder">
        <p class="pageTitle">

            {{ "Request Status Overview" | translate }}

        </p>
        <div class="chartSection">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [legend]="chartOptions.legend"
                [colors]="chartOptions.colors" [grid]="chartOptions.grid"></apx-chart>

                
        </div>

    </div>
    <div class="summaryHolder">
        <p class="pageTitle">
            {{ "Summary" | translate }}
        </p>
        <div class="summarySection">
            <div class="summaryinfo">
                <img src="./assets/img/QuarantinedRequestsIcon.svg" alt="">
                <div class="summarydetails">
                    <p  [routerLink]="['/dashboard', 'admin-task-list']" class="detailName">{{ "Quarantined Requests" | translate }}</p>
                    <p>4400</p>
                </div>
            </div>

            <div class="summaryinfo">
                <img src="./assets/img/GoldenRequestsIcon.svg" alt="">
                <div class="summarydetails">
                    <p [routerLink]="['/dashboard', 'golden-requests']" class="detailName">{{ "Golden Requests" | translate }}</p>
                    <p>6460</p>
                </div>
            </div>

            <div class="summaryinfo">
                <img src="./assets/img/RejectedRequestsIcon.svg" alt="">
                <div class="summarydetails">
                    <p [routerLink]="['/dashboard', 'rejected']" class="detailName">{{ "Rejected Requests" | translate }}</p>
                    <p>4460</p>
                </div>
            </div>

            <div class="summaryinfo">
                <img src="./assets/img/DuplicatesRequestsIcon.svg" alt="">
                <div class="summarydetails">
                    <p [routerLink]="['/dashboard', 'duplicate-requests']"  class="detailName">{{ "Duplicates Requests" | translate }}</p>
                    <p>6400</p>
                </div>
            </div>

            <div class="summaryinfo">
                <img src="./assets/img/SyncedSAPHistoricalicon.svg" alt="">
                <div class="summarydetails">
                    <p class="detailName">{{ "Synced SAP Historical" | translate }}</p>
                    <p>4500</p>
                </div>
            </div>

            <div class="summaryinfo">
                <img src="./assets/img/PendingRequestsIcon.svg" alt="">
                <div class="summarydetails">
                    <p  [routerLink]="['/dashboard', 'admin-task-list']" class="detailName">{{ "Pending Requests" | translate }}</p>
                    <p>5600</p>
                </div>
            </div>

        </div>
    </div>
</div>
